#left {
    width: 300px;
    float: left;
    padding: 5px;
    margin: 10px;
    background: #f8f8f8;
    border: solid 2px black;
   
}

#center {
    width: 300px;
    float: left;
    padding: 5px;
    margin: 10px;
    border: solid 2px black;
   
}

#right {
    width: 300px;
    padding: 5px;
    margin: 10px;
    float: left;
    background: #f0efef;
    border: solid 2px black;
   
}


#test {
    width: 300px;
    padding: 15px;
    position: absolute;
    left: 10px;
    bottom: 20px;
    margin: 10px;
    background: #f0efef;
    border: solid 2px black;
    clear:both;
   
}